<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
      <dd><%= @sam %></dd>
  <dt>Number of years</dt>
      <dd><%=  @oscar %> </dd>
  <dt>Principal</dt>
      <dd><%= @charlie %></dd>
  <dt>Payment<dt>
      <dd><%= @payments %></dd>
</dl>

<a href="/payment_form.html.">Calculate another payment</a>
