<form action="/payment/results">

<div>
  <label for="user_input">APR</label>

  <input id="user_input" type="text" placeholder="E.g. 5.42"
    name="apr">

</div>

<div>
  <label for "user_input">Number of years</label>

  <input id="user_input" type="text" placeholder="How many years to repay?" name="years">

  </div>

  <div>
    <label for "user_input">Principal</label>

    <input id="user_input" type="text" placeholder="How much principal?" name="principal">

    </div>
    <button>Calculate monthly payment</button>
</form>
