<h1>Payment Results</h1>

<dl>
  <dt>Apr</dt>
      <dd><%= %></dd>
  <dt>Number of Years</dt>
      <dd><%= %> </dd>
  <dt>Principal</dt>
      <dd><%= %></dd>
  <dt>Payments<dt>
      <dd><%= %></dd>
</dl>
