<form action="/payment/results">

<div>
  <label for="user_input_apr">APR</label>

  <input id="user_input_apr" type="text" placeholder="E.g. 5.42"
    name="apr">

</div>

<div>
  <label for = "user_input_years">Number of years</label>

  <input id="user_input_years" type="text" placeholder="How many years to repay?" name="years">

  </div>

  <div>
    <label for = "user_input_principal">Principal</label>

    <input id="user_input_principal" type="text" placeholder="How much principal?" name="principal">

    </div>
    <button>Calculate monthly payment</button>
</form>
