<form action="/random/results">

<div>
  <label for="user_input">Minimum</label>
</div>

<div>
  <input id="user_input" type="text" placeholder="E.g. 1.5" name="num_min">

<div>
  <label for="user_input_max">Maximum</label>
</div>

<div>
  <input id="user_input_max" type="text" placeholder="E.g. 4.5"
      name="num_max">
</div>
<button>Pick random number</button>
</form>
