<form action="/square_root/results">

  <div>
    <label for="user_input">Enter a number</label>
  </div>

  <div>
    <input id="user_input" type="text" placeholder="What number do you want to square root?" name="user_root">
  </div>
  <button>Calculate square root</button>
</form>
