<form action="/square/results">

<div>
  <label for="user_input">Enter a number</label>
</div>

<div>
  <input id="user_input" type="text" placeholder="What number do you want to square?" name="number">
</div>
<button>Calculate square</button>
</form>
